@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    color: aliceblue;
    padding-top: 100px;
    --font1 : "Kanit", sans-serif;
}


#background{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    object-fit: cover;
    z-index: -1;
}

img{
    width: 200px;
    height: 200px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    gap: 50px;
    font-family: var(--font1);
}

.con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

input,label{
    display: flex;
}

 .con .logo{
    display: flex;
    align-items: center;
}

button{
    position: relative;
    top: 25px;
}